.keyboard-wrapper {
  background-color: $color-keyboard;
  padding: 15px;
  border: 2px solid black;
  display: block;
  border-radius: 4px;
  width: 874px;
  height: 310px;
  margin: 0 auto;


}

.key {
  float: left;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  margin: 3px;
  background-color: #2d2a2a;
  opacity: 999;
  &:hover{
    background-color:dodgerblue;
    cursor: pointer;
  }
  &:active{
    background-color: aqua;
    transition: all 0.3s;
    border-radius: 50%;
  }

  &__symbol {
    justify-content: center;
    margin: 0;
    padding: 3px;
  }

  &_delete {
    width: 105px;
  }

  &_capslock {
    width: 107px;
  }

  &_return {
    width: 105px;
  }

  &_shift-left {
    width: 161px;
  }



  &_command {
    width: 89px;
  }

  &_space {
    width: 308px;
  }

}

.input {
  width: 870px;
  min-height: 280px;
  margin: 40px auto 10px auto;
  display: block;
  pointer-events: none;
}

.header {
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 0.06em;
  &__logo{
    color: rebeccapurple;
  }
}
.color{
  background-color: aqua;
  transition: all 0.3s;
  border-radius: 50%;
}
.hidden{
  display: none;
}






